@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    
}
.container-cat {
    margin-top: 50px;
}


.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #6ad2ff21;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-left: 300px;
    margin-top:30px;
    z-index: 1;
    
}

.blog-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
   
    
}

.blog-post_text iframe{
    height:150px;
    width:520px;
    padding-bottom:10px;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    background-size:cover;
    border-radius: .8rem;
    display: block;
   
  
  
}
.hatchery{
	margin-top:50px;
}
.min3{
	background:  rgba(159, 164, 169, 0.8);
	padding: 1em;
	margin-top:2px;
	color: black;
	height:380px;
    font-size:18px;	
}
.min3 h3{
    padding:20px;
    font-size:30px;
    color:#2a0d8b;
}
.min3 iframe{
	height:260px;
	width:380px;
	float:left;
	margin-right:30px;
}



.blog-post_date span {
    display: block;
    color: #00000080;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #350caf;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3;
}
.home5{
	background-image:url('IMAGES/TURTLE53.jpg');
	height:100vh;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.home6{
	background-image:url('IMAGES/TURTLE72.jpg');
	height:100vh;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
nav{
	position:fixed;
	width:100%;
	background:  rgba(255, 255, 255, .8);
    z-index: 999999;
}
ul {
    list-style: none;
    padding-left:280px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background:rgba(255, 255, 255, .8);;
    position: absolute;
    z-index:1000;
    display: none;
	padding:0;
}

ul li a:hover {
    background: #042239;
	color:white;
}
ul li:hover ul.dropdown {
    display: block;
}

.div2 h1{
    padding-top:300px;
	padding-left:12%;
	font-size:60px;
	font-family: 'Bruno Ace SC';
	color:rgb(255, 255, 255);	
    justify-content:center;
}
.div3 h1{
    padding-top:300px;
	padding-left:70PX;
	font-size:70px;
	font-family: 'Bruno Ace SC';
	color:rgb(255, 255, 255);	
    text-align:center;
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: .8rem;
    background: linear-gradient(to right, #c945cf 0%, #04a6bd 100%);
}

.blog-post_cta:hover {
    background: linear-gradient(to right, #04a6bd 0%, #c945cf 100%);
}

table {
	margin-top:170px;
	width:75%;
    margin-left:200px;
    
  }

  th, td {
	text-align: center;
	padding: 8px;
    font-size:20px;
  }

  tr:nth-child(even) {
	background-color: #b8def1;
  }
  tr:nth-child(even):hover {
    background-color:rgb(6, 9, 51);
    color:white;
  }
  tr:nth-child(odd):hover {
    background-color:rgb(6, 9, 51);
    color:white;
  }
  tr:nth-child(Odd) {
	background-color: #105678;
    color:rgb(14, 12, 12);
  }

  th {
	background-color: #241161;
	color: white;
	padding:20px;
   
  }
  td img{
	height:200px;
	width:300px;
    border-radius:70px;
    background-size:cover;
  }
  th h3{
	font-size:25px;
  }
  tfoot td{
   background-color:#96c1c6;
   color:#2a0d8b;
  }
  .grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px; 
  }
  
  .grid-container img {
	width: 90%; 
	height: 400px;
	border-radius:30px; 
	margin:20px;
  }

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #12162c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #1ca2e0;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #3fa3eb;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
.container{
    width: 100%;
    padding-right:15px ;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    
}
.section-title{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}
.section-title h1{
    font-size:30px;
    color:#2a0d8b;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: #eeeeee;
}
.effect{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.effect .effect-img{
    font-size: 0;
    overflow: hidden;
}
.effect .effect-img img{
    width: 100%;
    height: 500px;
    transition: all .3s;
}
.effect:hover .effect-img img{
    transform: scale(1.2);
}
.effect .effect-text{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}
.effect .effect-text .inner{
    position: absolute;
    padding: 15px;
    z-index: 1;
}
.effect .effect-text .inner h2{
    padding-bottom:70px;
}
.effect .effect-text:before,
.effect .effect-text:after{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.effect .effect-text:before{
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    left: -100%;
    top: 0;
}
.effect .effect-text:after{
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    left: 100%;
    bottom: 0;
}
.effect:hover .effect-text{
    opacity: 1;
}
.effect:hover .effect-text:after,
.effect:hover .effect-text:before{
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.effect:hover .effect-text:after{
    animation-name: left-up;
}
.effect:hover .effect-text:before{
    animation-name: right-dn;
}
@-webkit-keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
@-webkit-keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}
.effect .effect-text h2{
    height: 45px;
    color: #ffffff;
    font-size: 25px;
    margin: 0;
}
.effect .effect-text p{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}
.effect .effect-btn .btn{
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: #333333;
    background: #ffffff;
}
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
    .column{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
    .column{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}

@media(max-width:600px){
	.grid-container{
		grid-template-columns: repeat(2, 1fr);
		grid-gap:5px;
	}   
	.grid-container img {
		width: 260px;
		height: 200px;
		border-radius: 30px;
	
	}
	.home5{
		height: 730px;
	}
    .home6{
		height: 730px;
	}
	nav{
		height:50px;
	}
	ul li{
	padding-left: 0px;
    font-size: 8px;
	padding-top:5px;
	}
	ul li a{
		padding:6px;;
	}
	ul{
		padding-left: 0px;
	}
	ul li ul.dropdown {
		font-size:8px;
	}
	.div2 h1{
	padding-left: 5%;
    font-size: 35px;
    text-align:center;
	}
	table {
		margin-left:40px;
		width: 500px;
		
	
	  }
	
	  th, td {
		text-align: center;
		padding: 2px;
        font-size:13px;
	  }
	
	  
	  th {
		background-color: #241161;
		color: white;
		padding:5px;
	  }
	  td img{
		height:100px;
		width:200px;
        padding:10px;
        border-radius:20px;
	  }
	  th h3{
		font-size:15px;
	  }
	  
    .blog-post {
        width: 500px;
    
        
        margin:30px;
        flex-wrap:wrap;
      } 
    .blog-post_img img {
            width: 400px;
            height: 100%;
      }
    .blog-post_text iframe {
        height: 150px;
        width: 400px;
        padding-bottom:4px;
     }
     .blog-post_text{
        width:400px;
     }
     .blog-post_img{
        padding-left:70px;
     }
     .container-cat{
        margin:10px;
        width:400px;
        padding:0;
     }
     .min3{
        
        padding: 1em;
        margin-top:2px;
        color: black;
        height:380px;
        font-size:18px;	
    }
    .min3 h3{
        padding:10px;
        font-size:20px;
        color:#2a0d8b;
        

    }
    .min3 p{
        font-size:14px;
    }
    .min3 iframe{
        height:130px;
        width:550px;
        float:left;
        margin-right:10px;
        padding-bottom:5px;
    }
    .row{
        margin-left:-170px;
        width:500px;
    }
    .section-title{
        margin-left:-170px;
    }
    
     
}
.all-products{
    margin-top:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.all-products-1{
    margin-top:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #0b0a62;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}
.container-f{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 40px 450px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}


.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}
.pro h2{
    font-size:35px;
    margin-top:350px;
    color:#0b0a62;
    margin-left:30px;
}

@media(max-width: 600px){
    .container-f{
       
        margin:1px;
    }
    .pro h2{
        margin-top:400px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
/* styles.css */
.reservation-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:650px;
}

.reservation-button:hover {
    background-color: #2980b9;
}
